{% extends "layout.html" %}

{% block form %}
<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="form-group">
                    <h4>What's your story?</h4>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary float-right">
                    Submit
                </button>
            </form>
        </div>
    </div>
    <br/><hr /><br/>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4 style="margin: 0px;">I am a sample title.</h4>
                        <span class="badge badge-warning text-white">Unverified</span>
                        <small class="text-muted">25 November 2017 08:00 AM</small>
                    </div>
                    <p class="card-text">I am a sample text.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4 style="margin: 0px;">I am a sample title.</h4>
                        <span class="badge badge-warning text-white">Unverified</span>
                        <small class="text-muted">25 November 2017 08:00 AM</small>
                    </div>
                    <p class="card-text">I am a sample text.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4 style="margin: 0px;">I am a sample title.</h4>
                        <span class="badge badge-warning text-white">Unverified</span>
                        <small class="text-muted">25 November 2017 08:00 AM</small>
                    </div>
                    <p class="card-text">I am a sample text.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}